body {
  width: 1920px;
  height: 1080px;
  background-color: #212326;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: '\65b9\6b63\5170\4ead\7ec6\9ed1_GBK';
}
#edit {
  position: absolute;
  top: 60px;
  left: 120px;
  width: 160px;
  height: 60px;
  overflow: hidden;
}
#edit img {
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0);
}
#mainWrapper {
  position: absolute;
  top: 50%;
  margin-top: -252px;
  width: 1920px;
  height: 504px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  overflow: hidden;
}
.itemList {
  position: absolute;
  width: 10000%;
  height: 504px;
}
.itemList .first {
  margin-left: 150px;
}
.item {
  float: left;
  width: 360px;
  height: 480px;
  margin-right: 60px;
  margin-top: 12px;
  margin-bottom: 12px;
}
.item img {
  width: 100%;
}
.item span {
  position: relative;
  top: -80px;
  text-align: center;
  font-size: 42px;
  color: white;
  opacity: 0;
}
